body {
  background-color: #cdc6be;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif; 
  overflow-x: hidden;
}
